trunk/IFC/Labo3/labo3_Lienhard_Burkhalter/src/personne.dtd

<!ELEMENT liste (personne*)>
<!ELEMENT personne (nom,prenom,email,telephone)>
<!ELEMENT telephone (fixe,mobile)>
<!ELEMENT fixe (indicatif,numero)>
<!ELEMENT mobile (indicatif,numero)>

<!ELEMENT nom (#PCDATA) >
<!ELEMENT prenom (#PCDATA) >
<!ELEMENT email (#PCDATA) >
<!ELEMENT indicatif (#PCDATA) >
<!ELEMENT numero (#PCDATA) >